body {
  background-color: #fef6e4;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  margin-top: 100px;
  color: #001858;
}

.container {
  padding: 70px;
  border: 2px dashed #f582ae;
  border-radius: 20px;
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #8bd3dd;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  color: #001858;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 5px 0 5px;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #f582ae;
}
